{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<link rel="stylesheet" href="/static/app/contact.css">

<p class="un">For general comments and collaboration,</p>
<p>please contact <b>Dr. Xueyang Feng (PI)</b></p>
<p>Email: <a href="mailto:xueyang@vt.edu">xueyang@vt.edu</a>; Tel: (540)-231-2974;</p>
<br/>

<p class="un">For technical support and system maintenance,</p>
<p>please contact <b>Weihua Guo (Principle Scientist)</b></p>
<p>Email: <a href="mailto:gweihua2@vt.edu">gweihua2@vt.edu</a>; Tel: (540)-520-0526;</p>
<br/>

<p class="un">For reporting technical problems</p>
<p>please contact <b>Swaraj Dhumne (Web Developer)</b></p>
<p>Email: <a href="mailto:gweihua2@vt.edu">swarajd@vt.edu</a>; Tel: (703)-626-3348;</p>
<br/>


<p class="un">For reporting mistakes,</p>
<p>please contact us at <span class="un">report@seq2flux.com</span></p>

{% endblock %}
