{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<link rel="stylesheet" href="/static/app/contact.css">

<div class="un">For general comments and collaboration,</div>
<div>please contact <b>Dr. Xueyang Feng (PI)</b></div>
<div>Email: <a href="mailto:xueyang@vt.edu">xueyang@vt.edu</a>; Tel: (540)-231-2974;</div>
<br/>

<div class="un">For technical support and system maintenance,</div>
<div>please contact <b>Weihua Guo (Principle Scientist)</b></div>
<div>Email: <a href="mailto:gweihua2@vt.edu">gweihua2@vt.edu</a>; Tel: (540)-520-0526;</div>
<br/>


<div class="un">For reporting mistakes,</div>
<div>please contact us at <span class="un">report@seq2flux.com</span></div>

{% endblock %}
