{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<link rel="stylesheet" href="/static/app/data_analysis.css">

{% from "common/form_macros.html" import render_field, render_radio_field, render_submit_field %}
<form action="/data_analysis" method="POST" class="form analysis-form" role="form" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="speciesSelect" class="step-label">Step 1: Select the species of your samples</label>
        {{ render_field(form.species, label_visible=False) }}
    </div>
    <div class="form-group fileType">
        <label for="expressionData" class="step-label">Step 2: Upload the gene expression data</label>
        {{ render_radio_field(form.fileDataType) }}
    </div>
    <div class="form-group">
        {{ render_field(form.seqFile) }}
        <div id="fileHelp" class="form-text text-muted form-item-shift">
        <p><b>Input format: csv</b></p>
        <p>Input values: Exponential fold change of gene expression levels (base = 2) with definded control dataset</p>
        <p>Upload limitation: none</p>
        <p>Note: This is preferred input format, which can be processed with high-throughput manners. You can receive your results in 5 minutes in your email box. Click here to download the demo input file.</p>
        <p><b>Input format: FASTA/FASTQ</b></p>
        <p>Input values: cDNA sequence</p>
        <p>Upload limitation: 5 files/month</p>
        <p>Note: This is unfavorable input format, which requires two weeks to be processed. You need to wait for two weeks to receive the results. In addition, due to the limitation of computational capability, one user can only upload 5 files/month.</p>
        </div>
    </div>

    <button type="submit" class="btn btn-primary job-submit-btn">Submit</button>
</form>

{% endblock %}
