{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<link rel="stylesheet" href="/static/app/team.css">

<div class="team-members">
    <div class="team-member">
        <img src="/static/team_members/drfeng.jpg">
        <h4>Dr. Xueyang Feng</h4>
        <p>Principle Investigator</p>
    </div>
    <div class="team-member">
        <img src="/static/team_members/Weihua.jpg">
        <h4>Weihua Guo</h4>
        <p>Principle Scientist</p>
    </div>
    <div class="team-member">
        <img src="http://placehold.it/222x292.jpg">
        <h4>Dr. Eric (You) Xu</h4>
        <p>Principle Engineer</p>
    </div>
    <div class="team-member">
        <img src="/static/team_members/Cara.jpg">
        <h4>Cara Sarve</h4>
        <p>Data Analyst and Algorithm Developer</p>
    </div>
    <div class="team-member">
        <img src="/static/team_members/Mitchell.png">
        <h4>Mitchell Paoletti</h4>
        <p>Principle Investigator</p>
    </div>
    <div class="team-member">
        <img src="http://placehold.it/222x292.jpg">
        <h4>Swaraj Dhumne</h4>
        <p>Website Development</p>
    </div>
    <div class="team-member">
        <img src="/static/team_members/Michael_Johnson.jpg">
        <h4>Michael Johnson</h4>
        <p>Data Analyst and Algorithm Developer</p>
    </div>
    <div class="team-member">
        <img src="/static/team_members/Hajar.jpg">
        <h4>Hajar Chokhmane</h4>
        <p>Data Analyst and Algorithm Developer</p>
    </div>
</div>


{% endblock %}
