{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<link rel="stylesheet" href="/static/app/tutorial.css">

<div class="tutorial-block">
    <p>youtube here</p>
    Click here to download the demo input <br/>
    Click here to download the demo output <br/>
</div>

<div class="tutorial-block">
    <h1 class="centered">FAQ</h1>

    <h3><b>Background</b></h3>

    <h4>What is Seq2Flux?</h4>
    <p>Seq2Flux is a web-based computational platform for analyzing the transcriptomics data  to accurately predict comprehensive phenotypes (e.g., fold changes of growth rate, sugar utilization, chemical synthesis rate, etc.) via an advanced artificial intelligence (AI) model (i.e., auto-encoder neuron network) with a high-throughput manner.</p>

    <h4>What is transcriptomics data?</h4>
    <p>The transcriptomics data usually represents the relative amounts or concentrations of messager RNA (mRNA) molecules.</p>

    <h4>How to obtain transcriptomics data?</h4>
    <p>The commonly used approaches are RNA-seq and microarray techniques. To date, the cost of obtaining transcriptomics data is continuously decreased due to the rapid development of high-throughput sequencing techniques.</p>

</div>

<hr>

{% endblock %}
